<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's Play Hangman!</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>Let's Play Hangman!</h1>
    <div class="easy-container">
      <a href="/easy">
        <h2>Easy</h2>
      </a>
    </div>
    <div class="normal-container">
      <a href="/normal">
        <h2>Normal</h2>
      </a>
    </div>
    <div class="hard-container">
      <a href="/hard">
        <h2>Hard</h2>
      </a>
    </div>
  </body>
</html>
